@{
    ViewBag.Title = "Optima Farm Employee Stats";
    Layout = "_Layout";
}

<h2>Optima Farm Employee Statistics</h2>

<h4>Employee Stats:</h4>

<p>Employee number: @ViewData["employeeCount"]</p>
<p>Average salary for employee: @ViewData["avg"]</p>
<p>Highest salary: @ViewData["max"]</p>
<p>Lowest salary: @ViewData["min"]</p>